@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Dosis:wght@200;300;400;500&display=swap');


/* SASS VARIABLES */
$firstColor: white;
$secondColor: black;
$anotherColor1: #ab2614;
$fontFamily1: 'Cormorant Garamond', serif;
$fontFamily2: 'Aref Ruqaa Ink', serif;
$fontFamily3: 'Dosis', sans-serif;
$fontFamily4: 'PT Serif', serif;

/* CSS RESET */
* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/MiR/assets/midia/home-midia/img-wine-4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media screen and(min-width: 768px) {
    background-image: url("/MiR/assets/midia/home-midia/img-wine-3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .hidden {
    display: none;

    @media screen and(min-width: 768px) {
      display: block;
    }
  }
}

.navbar {
  .container-nav {
    display: flex;
    justify-content: space-between;

    .logo-home {
      .logo-company {
        width: 4rem;
        height: 3.8rem;
        padding: 1.5rem;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    .hamb-menu {
      align-self: flex-end;
      cursor: pointer;

      background-color: $firstColor;
      border-radius: .1rem;
      padding: .4rem;
      height: 1.8rem;
      width: 1.8rem;

      @media screen and(min-width: 768px) {
        display: none;
        background-color: transparent;
      }
    }

    .nav-options {
      @media screen and(min-width: 768px) {
        display: flex;
      }

      .options {
        padding: .3rem;
        margin-left: .7rem;

        font-family: $fontFamily1;
        font-weight: 300;
        font-size: 1rem;
        margin: .5rem;
        text-align: right;
        border-bottom: .01rem solid rgba(114, 114, 114, 0.379);

        transition: font-weight .3s;

        @media screen and(min-width: 768px) {
          padding: .8rem;
          margin-left: 1rem;
          border-bottom: none;
          transition: background-color .3s, color .3s, font-weight .3s;
        }

        &:hover {
          font-weight: bolder;

          @media screen and(min-width: 768px) {
            background-color: $anotherColor1;
            font-weight: 700;
          }
        }

        a {
          color: $secondColor;

          @media screen and(min-width: 768px) {
            color: $firstColor;
          }
        }
      }
    }
  }
}

main {
  .container-general-main {
    @media screen and(min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 17rem;
    }

    margin-top: 14rem;
    color: $firstColor;
    font-family: $fontFamily1;
    text-align: center;
    font-weight: bold;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 3.5rem;

    .container-slogan-btn {
      .slogan-company {
        span {
          color: $anotherColor1;
        }
      }


      .container-order-online {
        .redirect-link {
          .btn-products {
            background-color: $firstColor;
            border: .05rem solid $firstColor;
            cursor: pointer;

            font-family: $fontFamily1;
            font-weight: bold;

            font-size: 1.1rem;
            padding: 1rem;

            transition: background-color .5s, color .5s;

            &:hover {
              background-color: transparent;
              color: $firstColor;
            }
          }
        }
      }
    }

    .container-img {
      .img-full-width {
        // border: 3px solid rgb(251, 255, 0);
        display: none;
        width: 20rem;

        @media screen and(min-width: 768px) {
          // display: block;
          position: absolute;
        }
      }
    }
  }
}