@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");
/* SASS VARIABLES */
/* CSS RESET */
* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 510px) {
  body {
    background-image: url("/MiR/assets/midia/login-sign-page/bg-img-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
body .hidden {
  display: none;
}
@media screen and (min-width: 1366px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 45rem);
  }
}
.container-grid .container-logo-slogan {
  display: none;
}
@media screen and (min-width: 1366px) {
  .container-grid .container-logo-slogan {
    display: flex;
    justify-self: center;
    align-self: center;
  }
}
.container-grid .container-logo-slogan .home .logo-company {
  width: 4.7rem;
  height: 4.7rem;
}
@media screen and (min-width: 1366px) {
  .container-grid .container-logo-slogan .home .logo-company {
    width: 4.7rem;
    height: 4.7rem;
    background-color: white;
    border-radius: 0.2rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1366px) {
  .container-grid .container-logo-slogan .slogan-company {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin: 1.7rem 0 0 1.3rem;
  }
}
@media screen and (min-width: 1366px) {
  .container-grid .container-logo-slogan .slogan-company span {
    color: #ab2614;
  }
}
@media screen and (min-width: 510px) {
  .container-grid .container-general {
    background-color: white;
    width: 31rem;
    margin: 3rem auto auto auto;
    display: block;
    border-radius: 0.18rem;
  }
}
@media screen and (min-width: 1366px) {
  .container-grid .container-general {
    background-color: white;
    width: 31rem;
    margin: 3rem 5rem auto auto;
    display: block;
    border-radius: 0.18rem;
  }
}
.container-grid .container-general .container-top {
  display: flex;
  color: black;
  padding: 1.3rem;
}
@media screen and (min-width: 1366px) {
  .container-grid .container-general .container-top .link-home {
    display: none;
  }
}
.container-grid .container-general .container-top .link-home .logo {
  width: 3rem;
  height: 3rem;
}
.container-grid .container-general .container-top .slogan {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 1em;
  margin: 0.4rem 0 0 1.7rem;
}
@media screen and (min-width: 1366px) {
  .container-grid .container-general .container-top .slogan {
    display: none;
  }
}
.container-grid .container-general .container-top .slogan span {
  color: #ab2614;
}
.container-grid .container-general .login {
  margin: 0 0 1.2rem 0;
  padding: 0 0 1rem 1.3rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.9rem;
  position: relative;
}
.container-grid .container-general .login::after {
  content: "";
  position: absolute;
  border: 0.01rem solid black;
  width: 4rem;
  background-color: black;
  margin: 1.2rem 0 0 0.5rem;
}
.container-grid .container-general .container-forms form {
  padding: 1.3rem;
}
.container-grid .container-general .container-forms form .handle-form .labels {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #5c5c5c;
}
.container-grid .container-general .container-forms form .handle-form #email {
  width: 65%;
  height: 2rem;
  text-indent: 1rem;
  margin-bottom: 1.5rem;
  outline: none;
  border-style: none none solid none;
  background-color: transparent;
}
.container-grid .container-general .container-forms form .handle-form #password {
  width: 65%;
  height: 2rem;
  text-indent: 1rem;
  outline: none;
  border-style: none none solid none;
  background-color: transparent;
}
.container-grid .container-general .container-forms form .handle-form button {
  margin-top: 1rem;
  position: fixed;
  border: none;
  outline: none;
  cursor: pointer;
}
.container-grid .container-general .container-forms form .handle-form button .visibility {
  background-color: transparent;
  width: 1rem;
  margin: -0.9rem 0 0 -2rem;
}
.container-grid .container-general .container-forms form button[type=submit] {
  margin-top: 0.6rem;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 0.7rem;
}
.container-grid .container-general .container-forms form button[type=submit]:hover {
  background-color: #ab2614;
  color: white;
}
.container-grid .container-general .container-separation #line-separator {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 1.7rem 0;
}
.container-grid .container-general .container-separation #line-separator::before {
  content: "";
  position: absolute;
  width: 3rem;
  margin: 1.2rem 0 0 3.4rem;
  border: 0.01rem solid black;
  background-color: black;
}
.container-grid .container-general .container-separation #line-separator::after {
  content: "";
  position: absolute;
  width: 3rem;
  margin: 1.2rem 0 0 -6.5rem;
  background-color: black;
  border: 0.01rem solid black;
}
.container-grid .container-general .container-login-signs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-grid .container-general .container-login-signs .redirect-link-error {
  /* CHANGE OF THE BORDER FOR GOOGLE BUTTON */
  /* CHANGE OF THE BACKGORUNDS */
}
.container-grid .container-general .container-login-signs .redirect-link-error button[type=button] {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 0.7rem 0.6rem;
  padding: 0.7rem;
}
.container-grid .container-general .container-login-signs .redirect-link-error button[type=button] .logos-signs {
  width: 1.5rem;
}
.container-grid .container-general .container-login-signs .redirect-link-error button[type=button] .other-login-google {
  color: black;
  margin: 0 0 0 1rem;
}
.container-grid .container-general .container-login-signs .redirect-link-error button[type=button] .other-login-face {
  color: white;
  margin: 0 0 0 1rem;
}
.container-grid .container-general .container-login-signs .redirect-link-error button[id=google-cta] {
  border: 0.01rem solid rgb(176, 176, 176);
  outline: none;
}
.container-grid .container-general .container-login-signs .redirect-link-error #facebook-cta {
  background-color: #1877F2;
}
.container-grid .container-general .container-login-signs .redirect-link-error #google-cta {
  background-color: white;
}
@media screen and (min-width: 510px) {
  .container-grid .container-general .container-signup {
    padding-bottom: 2rem;
  }
}
.container-grid .container-general .container-signup .text {
  margin: 1rem 0 0 1.7rem;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.13rem;
  font-weight: 600;
}
@media screen and (min-width: 510px) {
  .container-grid .container-general .container-signup .text {
    margin-top: 1rem;
  }
}
.container-grid .container-general .container-signup .text #sign-up-same-page {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s;
}
.container-grid .container-general .container-signup .text #sign-up-same-page:hover {
  color: #ab2614;
}/*# sourceMappingURL=style.css.map */