@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');


/* SASS VARIABLES */
$firstColor: white;
$secondColor: black;
$anotherColor1: #ab2614;
$fontFamily1: 'Cormorant Garamond', serif;
$fontFamily2: 'Dosis', sans-serif;
$fontFamily3: 'PT Serif', serif;

/* CSS RESET */
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@mixin scrollbarsStyle($size, $scrollbarColor, $bgColor) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbarColor;
  }

  &::-webkit-scrollbar-track {
    background-color: $bgColor;
  }
}

body {
  @include scrollbarsStyle(.3rem, $secondColor, $firstColor);
  @media screen and(min-width: 510px) {
    background-image: url("/MiR/assets/midia/login-sign-page/bg-img-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include scrollbarsStyle(.3rem, $secondColor, $firstColor);
  }

  .hidden {
    display: none;

    @media screen and(min-width: 768px) {
      // display: block;
    }
  }
}

.container-general-sign-up {
  @media screen and(min-width: 510px) {
    background-color: $firstColor;
    width: 31rem;
    margin: 2rem auto auto auto;
    display: block;
    border-radius: .1rem;
    // padding: 1rem;
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // align-items: center;
  }

  .container-top {
    display: flex;
    // color: $secondColor;
    padding: 1.3rem 0 1.3rem 1.3rem;

    .link-home {
      .logo {
        width: 3rem;
        height: 3rem;
      }
    }

    .slogan {
      display: flex;
      flex-direction: column;

      font-family: $fontFamily1;
      font-weight: 700;
      font-size: 1em;

      margin: .4rem 0 0 1.7rem;

      span {
        color: $anotherColor1;
      }
    }
  }

  .container-texts-top {
    .sign-up {
      margin: 0 0 1.2rem 0;
      padding: 0 0 1rem 1.3rem;

      font-family: $fontFamily1;
      font-weight: 500;
      font-size: 1.9rem;

      &::after {
        content: '';
        position: absolute;
        border: .01rem solid $secondColor;
        width: 4rem;
        background-color: $secondColor;
        margin: 1.2rem 0 0 .5rem;
      }
    }
  }

  .container-form-sign-up {
    form {
      padding: 0 0 1rem 2rem;
      margin: 0 0 2rem 0;

      .handle-form-sign-up {
        .labels {
          font-family: $fontFamily1;
          font-weight: 600;
          font-size: .9rem;
          color: #5c5c5c;
        }

        #name {
          width: 65%;
          height: 2rem;
          text-indent: 1rem;
          margin-bottom: 1rem;

          outline: none;
          border-style: none none solid none;
          background-color: transparent;
        }

        #username {
          width: 65%;
          height: 2rem;
          text-indent: 1rem;
          margin-bottom: 1rem;

          outline: none;
          border-style: none none solid none;
          background-color: transparent;
        }

        #birthday {
          width: 65%;
          height: 2rem;
          text-indent: .5rem;
          margin-bottom: 1rem;

          outline: none;
          border-style: none none solid none;
          background-color: transparent;

          font-family: $fontFamily1;
          font-size: 1rem;
        }

        #email-2 {
          width: 65%;
          height: 2rem;
          text-indent: 1rem;
          margin-bottom: 1rem;

          outline: none;
          border-style: none none solid none;
          background-color: transparent;
        }

        #password-1 {
          width: 65%;
          height: 2rem;
          text-indent: 1rem;
          margin-bottom: 1rem;

          outline: none;
          border-style: none none solid none;
          background-color: transparent;
        }

        #confirm-password {
          width: 65%;
          height: 2rem;
          text-indent: 1rem;
          margin-bottom: 3rem;

          outline: none;
          border-style: none none solid none;
          background-color: transparent;
        }

        button {
          margin-top: 1rem;
          border: none;
          outline: none;
          cursor: pointer;

          .visibility {
            background-color: transparent;
            width: 1rem;
            margin: -.9rem 0 0 -2rem;
          }
        }
      }

      .handle-form-sign-up-2 {
        .title-labels {
          display: flex;
          font-family: $fontFamily1;
          font-weight: 600;
          // border: 1px solid green;
        }

        #wine-options {
          margin: .3rem 0 1rem 0;
          padding: .3rem;
          outline: none;
          // border-style: none none solid none;
          border: 6px solid transparent;
          font-family: $fontFamily1;
          font-size: .97rem;
          font-weight: 600;

          option {
            font-family: $fontFamily1;
            font-weight: 700;
          }
        }
      }

      a {
        margin-top: .6rem;

        background-color: $secondColor;
        color: $firstColor;
        border: none;
        outline: none;
        cursor: pointer;

        transition: background-color .3s, color .3s;
        padding: .7rem;

        &:hover {
          background-color: $anotherColor1;
          color: $firstColor;
        }

        #finish-btn {
          margin-top: .6rem;
          color: $firstColor;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;

          margin: .6rem 0 1rem 0;
        }
      }
    }
  }
}