/*VARIABLES*/
$color1: black;
$color2: white;
$color3: beige;
$color4: transparent;

// $fontFam1
// $fontFam2

/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.container-whole-project {
  .container-bg-image-1 {
    background-image: url('/Poetic-Chef/assets/media/images/poetic-chef-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    position: relative;

    .container-navbar {
      display: flex;
      justify-content: space-between;
      padding: .7rem;

      .logo-company {
        width: 3.5rem;
        height: 3.5rem;
      }

      nav {
        display: flex;
        flex-direction: column;

        .hamb-nav {
          margin: auto 0 auto auto;
          width: 3rem;
          cursor: pointer;
        }

        .navigation-options {
          background-color: $color2;
          margin: .5rem auto auto auto;

          .options {
            text-align: center;
            text-transform: capitalize;
            margin: .7rem 1rem 1rem 1rem;

            a {
              margin-top: .5rem;
              color: $color1;

              &:hover {
                font-weight: 700;
              }
            }
          }
        }
      }
    }


    .container-main-1 {
      main {
        .container-company {
          margin-top: 17rem;
          text-indent: 2rem;
          
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          
          .container-texts-company {
            // display: flex;
            // flex-direction: column;
            
            // border: 3px solid lightslategrey;
            .title-company {
              font-size: 2rem; 
              color: $color2;
              text-transform: capitalize;
            }
            
            .slogan-company {
              color: $color2;
            }
          }
        }
      }
    }
  }

  .container-bg-image-2 {
    background-image: url('/Poetic-Chef/assets/media/images/poetic-chef-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover;
    background-size: 65%;
    min-height: 100vh;
    
    background-color: $color3;
  }


}