@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*VARIABLES*/
$color1: black;
$color2: white;
$color3: beige;
$color4: transparent;
$font1: 'Quicksand', sans-serif;

/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

/*SCROLL BAR*/
// body { 
//   &::-webkit-scrollbar {
//     width: .3rem;
//   }

//   &::-webkit-scrollbar-track {
//     background: $color3;
//   }

//   &::-webkit-scrollbar-thumb {
//     background: $color1;
//   }
// }

.container-poetic-chef {
  .container-menu-bgBackground {
    background-image: url("/Poetic-Chef/assets/media/images/poetic-chef-3-Jocelyn-Morales.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
    .container-menu{
      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        padding: 1rem;
        .hamb-menu {
          cursor: pointer;
          width: 3rem;
        }
        
        .menu-options {
          margin: 1rem;
          font-family: $font1;

          .options {
            text-transform: uppercase;
            text-align: end;
            a {
              color: $color2;
              line-height: 10mm;

              &:hover {
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .container-slogan-hero {
      .title-slogan-hero {}
      .slogan-hero {}
    }
  }


}