@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/*VARIABLES*/
/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.container-whole-project {
  background-color: beige;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 {
  background-image: url("/Poetic-Chef/assets/media/images/poetic-chef-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar .logo-company {
  width: 3.5rem;
  height: 3.5rem;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav {
  display: flex;
  flex-direction: column;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .hamb-nav {
  margin: auto 0 auto auto;
  width: 3rem;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .hamb-nav {
    display: none;
  }
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options {
  background-color: white;
  margin: 0.5rem auto auto auto;
}
@media screen and (min-width: 500px) {
  .container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options .options {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 0.7rem 1rem 1rem 1rem;
}
@media screen and (min-width: 500px) {
  .container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options .options {
    display: block;
    margin: 0.7rem 1rem 1rem 1rem;
  }
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options .options a {
  margin-top: 0.5rem;
  color: black;
}
@media screen and (min-width: 500px) {
  .container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options .options a {
    color: white;
    padding: 0.5rem;
  }
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options .options a:hover {
  font-weight: 700;
}
@media screen and (min-width: 500px) {
  .container-whole-project .container-media-query-grid .container-bg-image-1 .container-navbar nav .navigation-options .options a:hover {
    color: white;
    font-weight: 700;
    background-color: black;
    transition: background-color 0.3s, color 0.3s;
  }
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-main-1 main .container-company {
  margin-top: 17rem;
  text-indent: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-main-1 main .container-company .container-texts-company .title-company {
  font-family: "Quicksand", sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}
.container-whole-project .container-media-query-grid .container-bg-image-1 .container-main-1 main .container-company .container-texts-company .slogan-company {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
}
.container-whole-project .container-media-query-grid .container-bg-image-2 {
  background-image: url("/Poetic-Chef/assets/media/images/poetic-chef-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15rem;
  min-height: 100vh;
  background-color: beige;
}
.container-whole-project .container-section-concept {
  min-height: 100vh;
  padding: 0 1rem 0 1rem;
}
.container-whole-project .container-section-concept .title-concept {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0 1rem 1rem;
  text-transform: capitalize;
}
.container-whole-project .container-section-concept .description-concept {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: 0 0 0 1rem;
}
.container-whole-project .container-section-popular-news {
  min-height: 100vh;
  padding: 0 1rem 0 1rem;
}
.container-whole-project .container-section-popular-news .title-most {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 3rem 0;
}
.container-whole-project .container-section-popular-news .container-popular-news {
  border: 0.01rem solid #aaaaaa;
  margin-bottom: 1rem;
}
.container-whole-project .container-section-popular-news .container-popular-news .section-article .img-article {
  width: 100%;
}
.container-whole-project .container-section-popular-news .container-popular-news .section-article .container-tetxts-popular-news {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  margin: 0.7rem;
}
.container-whole-project .container-section-popular-news .container-popular-news .section-article .container-tetxts-popular-news .type,
.container-whole-project .container-section-popular-news .container-popular-news .section-article .container-tetxts-popular-news .writtes-name {
  color: gray;
}
.container-whole-project .container-section-popular-news .container-popular-news .section-article .container-tetxts-popular-news .title-article {
  font-weight: 600;
}
.container-whole-project .container-section-popular-news .container-popular-news .section-article .container-tetxts-popular-news .overview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container-whole-project .container-section-popular-news .container-popular-news .section-article .container-tetxts-popular-news .read-article {
  color: #0101c2;
}
.container-whole-project .container-section-latests-news {
  min-height: 100vh;
  padding: 5rem 1rem 0 1rem;
  margin-bottom: 1rem;
}
.container-whole-project .container-section-latests-news .title-latests {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 3rem 0;
}
.container-whole-project .container-section-latests-news .container-latests-news {
  border: 0.01rem solid #aaaaaa;
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
}
.container-whole-project .container-section-latests-news .container-latests-news .section-article .img-article {
  display: flex;
  margin: auto;
  width: 100%;
}
.container-whole-project .container-section-latests-news .container-latests-news .section-article .container-section-texts {
  margin: 0.7rem;
}
.container-whole-project .container-section-latests-news .container-latests-news .section-article .container-section-texts .type,
.container-whole-project .container-section-latests-news .container-latests-news .section-article .container-section-texts .writtes-name-article {
  color: gray;
}
.container-whole-project .container-section-latests-news .container-latests-news .section-article .container-section-texts .title-article {
  font-weight: 600;
}
.container-whole-project .container-section-latests-news .container-latests-news .section-article .container-section-texts .overview-article {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container-whole-project .container-section-latests-news .container-latests-news .section-article .container-section-texts .read-latests-article {
  color: #0101c2;
}
.container-whole-project .container-books {
  min-height: 100vh;
  padding: 5rem 1rem 0 1rem;
}
.container-whole-project .container-books .title-books {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 3rem 0;
}
.container-whole-project .container-books .container-book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
.container-whole-project .container-books .container-book-detail .book-cover {
  width: 12rem;
}
.container-whole-project .container-books .container-book-detail .title-book {
  margin-top: 0.3rem;
  font-weight: 500;
}
.container-whole-project .container-books .container-book-detail .author {
  margin: 0.2rem 0 1rem 0;
  color: #595959;
}
.container-whole-project .container-books .container-book-detail .buy-book {
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  background-color: transparent;
  width: 12rem;
  height: 3rem;
  border: 0.01rem solid black;
  margin-bottom: 2rem;
  transition: background-color 0.3s, color 0.3s;
}
.container-whole-project .container-books .container-book-detail .buy-book:hover {
  background-color: black;
  color: white;
}
.container-whole-project .container-footer {
  background-color: black;
  color: white;
  min-height: 25vh;
}
.container-whole-project .container-footer footer .container-links .container-logo {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.container-whole-project .container-footer footer .container-links .container-logo .logo {
  width: 4.7rem;
  height: 4.7rem;
  position: relative;
  margin: 0.3rem 0 0 0;
}
.container-whole-project .container-footer footer .container-links .container-logo .company-name {
  margin: 0.7rem 0 0 0.2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
.container-whole-project .container-footer footer .container-links .container-logo .company-name span {
  font-size: 0.7rem;
  font-weight: normal;
  color: #c3c3c3;
}
.container-whole-project .container-footer footer .container-links .container-social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-whole-project .container-footer footer .container-links .container-social-icons .icons {
  margin: 1rem;
  width: 1.5rem;
}/*# sourceMappingURL=style.css.map */